section.course-content {
    background-color: white;
    padding: 1em;
}

section.course-content > h2 {
    font-size: 2em;
    text-transform: uppercase;
    margin-top: 1em;
}

.content-grid {
    display: grid;
    grid-template-columns: 80%;
    grid-template-rows: repeat(4, 360px);
    justify-content: center;
    row-gap: 2em;
    background-color: var(--background-gray);
    margin: 3em 0;
    padding: 2em 0;
    border-radius: 1em;
}

.content-grid > .grid-item {
    display: flex;
    flex-direction: column;
}

.content-grid > .grid-item > img {
    width: 70px;
}

.content-grid > .grid-item > .item-description > h3 {
    text-transform: uppercase;
    margin: 1em 0;
}

.content-grid > .grid-item > .item-description > p {
    font-size: 1.2em;
    color: var(--text-dark-gray);
}

.content-grid > a > button {
    margin-bottom: 0;
}

@media (min-width: 768px) {
    section.course-content {
        padding: 2em;

    }
    section.course-content > h2 {
        font-size: 3em;
        text-align: center;
    }
    .content-grid {
        grid-template-rows: repeat(4, 180px);
    }
    .content-grid > .grid-item {
        flex-direction: row;
        gap: 4em;
    }
    section.course-content > a {
        margin: auto;
        margin-top: 3em;
        max-width: 300px;
    }
    section.course-content > a > button {
        font-size: 1em;
        padding: 1em 2em;
        margin: 0;
        width: auto;
    }
}

@media (min-width: 1440px) {
    section.course-content > h2 {
        font-size: 4em;
        text-align: start;
        width: 80%;
        margin: auto;
        padding: 1em;
    }
    .content-grid {
        width: 80%;
        margin: auto;
        grid-template-columns: repeat(2, 450px);
        grid-template-rows: repeat(2, 360px);
        column-gap: 3em;
    }
    .content-grid > .grid-item {
        flex-direction: column;
        gap: 0;
        justify-content: center;
    }
    .content-grid > .grid-item:nth-child(odd) {
        padding-right: 3em;
        border-right: black dashed 1px;
    }
    .content-grid > .grid-item:nth-child(even) {
        padding-left: 3em;
    }
}