.good-statistics h3 {
    padding: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
    text-align: center;
    text-transform: uppercase;
    color: var(--text-dark);
    font-weight: 700;
    font-size: 1.5em;
}
.statistic-cards {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
}

.card {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 1em;
    width: 90%;
    max-width: 260px;
    box-shadow: var(--card-shadow);
    border-radius: .5em;
    margin-bottom: 2em;
}

.number-container {
    color: var(--text-dark);
    text-align: center;
    text-transform: uppercase;
    font-size: 1.5em;
    min-width: 122px;
}

.number-container p {
    color: var(--text-dark-gray);
    font-weight: 700;
}

@media (min-width: 768px) {
    .card {
        padding: 2em;
    }
    .good-statistics h3 {
        font-size: 2em;
    }
    .good-statistics a {
        display: none;
    }
}

@media (min-width: 1024px) {
    .statistic-cards {
        flex-direction: row;
        justify-content: space-evenly;
    }
    .card {
        margin-bottom: 0;
        box-shadow: none;
        transition: var(--card-shadow-trasition);
    }
    .card:hover {
        box-shadow: var(--card-shadow);
    }
}
